<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Web</title>
    <!--CSS-->
    <link rel="stylesheet" href="main.css">
    <!--JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--FONT-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div id="app" class="container" >
        <aside class="side" >

            <!--HEADER USER-->
            <div class="header-user">
                <img src="img/avatar_io.jpg" alt="avatar">
                <span>Nome Utente</span>
                <i class="fas fa-ellipsis-v"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-circle-notch"></i>
            </div>

            <!--NOTIFICATION BAR-->
            <div class="notification-bar" >
                <div class="notify">
                <i class="fas fa-bell-slash"></i>
                </div>
                <div class="activenotify">
                    <span><p>Ricevi notifiche di nuovi messaggi</p></span>
                    <span><a style="color: #303030d9;" href="#">Attiva notifiche desktop</a></span>
                </div>
            </div>

            <!--SEARCH INPUT WITH VUEJS-->
            <div class="search-bar" >
                <button type="submit"><i class="fa fa-search"></i></button>
                <input type="text" v-model="search" placeholder="Cerca o inizia una nuova chat">
            </div>
            
            <!--LIST CHAT WITH VUEJS-->
            <div class="list-chat">
                <ul>
                    <li v-for="(utente, index) in filtraLista" @click= "selezioneUtente(index)">
                        <img :src="'./img/avatar'+utente.avatar+'.jpg'" alt="avatar_user">
                        <span>{{ utente.name }}</span>
                        <hr style=" border: 1px solid #f6f6f6;">
                    </li>
                </ul>
            </div>
        </aside>
        <main class="content">

            <!--HEADER CONTENT-->
            <div v-if="utenteSelezionato != null" class="messaggini" >
            <section class="content-header" @click="(item, index) in utenteSelezionato">
                <img :src="'./img/avatar'+utenteSelezionato.avatar+'.jpg'" alt="user">
                <span class="username">{{ utenteSelezionato.name }}</span>
                <span class="lastentry">Ultimo accesso oggi alle 10.35</span>
                <i class="fas fa-ellipsis-v"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-search"></i>
            </section>

            <!--MAIN CONTENT-->
            
            <section class="content-main" v-for="(item, index) in utenteSelezionato.messages" >
                
                <!--SEND MESSAGE-->
                <div class="send" v-if = "item.status === 'sent'">
                    <span>{{ item.message }}</span>
                    <span>{{item.date}}</span>
                </div>

                <!--RECEIVE MESSAGE-->
                <div class="receive" v-if="item.status === 'received' ">
                    <span>{{ item.message }}</span>
                    <span>{{item.date}}</span>
                </div>
            </section>
            

            <!--FOOTER CONTENT-->
            <section class="content-footer" >
                <i class="far fa-smile"></i>
                <input @keyup.enter= "addMessage" v-model="privateMessage" class="chat" type="text" placeholder="Scrivi un messaggio">
                <i class="fas fa-microphone"></i>
            </section>
        
        </main>    
    </div>
</div>


    <!--DAYJS-->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!--JS-->
    <script src="js/script.js"></script>
</body>
</html>