* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #128C7E 0%, 
        #128C7E 15%, 
        #dbdcd3 15%,
        #dbdcd3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/*LAYOUT*/
.container {
    background: #fff;
    width: 80%;
    min-width: 900px;
    height: 95%;
    display: flex;
}

.side {
    flex-basis: 35%;
}

.content {
    flex-basis: 65%;
    background: #aaa;
    display: flex;
    flex-direction: column;
}

.content-header,
.content-footer {
    padding: 20px;
    background: rgba(255,0,0, .5);
}

.content-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.content-main p {
    margin-bottom: 20px;
}

/*HEADER USER*/
.header-user {
    padding: 10px 10px;
    background: #ededed;
}

.side .header-user > img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.side .header-user > span {
    position: absolute;
    top: 40px;
    font-weight: bold;
    padding: 7px 5px;
}

.side .header-user > i {
    float: right;
    padding: 13px;
    font-size: 23px;
    color: #808080;
    cursor: pointer;
}

.side .notification-bar {
    background: #9de1fe;
}

.side .notification-bar .notify {
    display: inline-block;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;   
}

.notify i {
    padding: 12px 10px;
    font-size: 20px;
    color: #9de1fe;
}

.activenotify {
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 25px;
    transform: translateY(10px);
}

.activenotify span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.activenotify span:last-child {
    display: block;
    line-height: 2;
    font-size: 13px;
}