* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom, 
        #128C7E 0%, 
        #128C7E 15%, 
        #dbdcd3 15%,
        #dbdcd3 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/*LAYOUT*/
.container {
    background: #fff;
    width: 80%;
    min-width: 900px;
    height: 95%;
    display: flex;
}

.side {
    flex-basis: 35%;
}

.content {
    flex-basis: 65%;
    background-image: url(./img/mine.jpg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #dadada;
}

.content-header,
.content-footer {
    padding: 20px;
    background: rgba(255,0,0, .5); /*da togliere*/
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    padding: 0 100px;
    overflow-y: auto;
}

.content-main p {
    margin-bottom: 20px;
}

/*HEADER USER*/
.header-user {
    padding: 10px 10px;
    background: #ededed;
}

.side .header-user > img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.side .header-user > span {
    position: absolute;
    top: 40px;
    font-weight: bold;
    padding: 7px 5px;
}

.side .header-user > i {
    float: right;
    padding: 13px;
    font-size: 23px;
    color: #808080;
    cursor: pointer;
}

/* NOTIFICATION BAR*/
.side .notification-bar {
    background: #9de1fe;
}

.side .notification-bar .notify {
    display: inline-block;
    background-color: #fff;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 50%;
    cursor: pointer;   
}

.notify i {
    padding: 12px 10px;
    font-size: 20px;
    color: #9de1fe;
}

.activenotify {
    padding-top: 10px;
    padding-left: 10px;
    display: inline-block;
    margin-bottom: 25px;
    transform: translateY(10px);
}

.activenotify span:first-child {
    font-size: 15px;
    font-weight: bold;
}

.activenotify span:last-child {
    display: block;
    line-height: 2;
    font-size: 13px;
}

/*SEARCH INPUT*/
.side .search-bar {
    background-color: #f6f6f6;
    height: 50px;
    padding-top: 2px;
}

.side .search-bar button {
    float: left;
    padding: 6px 10px;
    background: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 6px;
    width: 13%;
    color: #808080;
    margin-right: 1px;
}

.side .search-bar input[type=text] {
    padding: 6px;
    margin-top: 6px;
    font-size: 17px;
    width: 85%;
    border: none;
    outline: none;
}

.side .search-bar input[type=text]::placeholder {
    font-size: 13px;
}

/*LIST CHAT*/
.side .list-chat {
    padding: 10px 10px;
    cursor: pointer;
}

.side .list-chat hr {
    width: 104%;
    transform: translateX(-10px);
    margin-top: 10px;
}

.side .list-chat img {
    width: 68px;
    border-radius: 50%;
    cursor: pointer;
    height: 68px;
    margin-top: 7px;
}

.side .list-chat span {
    font-weight: bold;
    padding: 31px 30px;
    font-size: 17px;
}

.side .list-chat li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

/*HEADER OF CONTENT*/
.content-header {
    padding: 10px 10px;
    background: #ededed;
}

.content .content-header > img {
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.content-header .username {
    position: absolute;
    top: 35px;
    font-weight: bold;
    padding: 7px 5px;
    cursor: pointer;
}

.content-header .lastentry {
    position: absolute;
    top: 54px;
    padding: 7px 5px;
    font-size: 13px;
    color: #808080;
    font-weight: bold;
}

.content .content-header > i {
    float: right;
    padding: 13px;
    font-size: 23px;
    color: #808080;
    cursor: pointer;
}

/*MAIN OF CONTENT*/
/*SEND MESSAGE*/

.content-main .send {
    background-color: #ddfabf;
    align-self: flex-end;
    position: relative;
    margin-top: 50px;
    padding: 15px 150px 20px 10px;
    border-radius: 10px;
    max-width: 60%;
    min-width: 20%;
}

.content-main .send span:first-child {
    margin-bottom: 40px;
    font-weight: bold;
}

.content-main .send span:last-child {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
    color: #808080;
}

/*RECEIVE MESSAGE*/
.content-main .receive {
    background-color: #fff;
    align-self: flex-start;
    position: relative;
    margin: 15px;
    padding: 13px 140px 20px 10px;
    border-radius: 5px;
    max-width: 60%;
    min-width: 20%;
}

.content-main .receive span:first-child {
    margin-bottom: 40px;
    font-weight: bold;
}

.content-main .receive span:last-child {
    position: absolute;
    font-size: 10px;
    bottom: 5px;
    right: 10px;
    color: #808080;
}